<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../static/about.css">
<link rel="stylesheet" type="text/css" href="../static/menu.css">

<body>
<header class = "title"> Iulia Gheju - About</header> 
    
<nav>
    <ul class="nav-menu">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'form' %}">Form</a></li>
        <li><a href="{% url 'gallery' %}">Gallery</a></li>
        <li><a href="{% url 'chatbot' %}">Chatbot</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
    </ul>
</nav>

</head>
<section class="box">   
<section class="float-section">
<section class="container"> 
<table>
    <tr>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Nationality</th>
        <th>Home</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    <tr>
        <td>Iulia Maria Gheju</td>
        <td>11/08/2000</td>
        <td>Romanian</td>
        <td>Timișoara, Romania</td>
        <td>iuliamgheju@yahoo.com</td>
        <td>0775521397</td>
    </tr>
</table>

<table>
    <tr>
        <th>About Me</th>
    </tr>
    <tr>
        <td>Computer Science student in the 1st year at West University of Timișoara.</td>
    </tr>
</table>

<table>
    <tr>
        <th>Education</th>
    </tr>
    <tr>
        <td><strong>Computer Science Bachelor</strong><br>West University of Timișoara, 2023-2026</td>
    </tr>
    <tr>
        <td><strong>Law Bachelor</strong><br>West University of Timișoara, 2019-2023</td>
    </tr>
    <tr>
        <td><strong>Grigore Moisil Highschool</strong><br>Timișoara, 2015-2019</td>
    </tr>
</table>

<table>
    <tr>
        <th>Experience</th>
    </tr>
    <tr>
        <td>
            <strong>Internship at the Law Court</strong><br>
            Timiș, October 2022 - April 2023<br>
            City: Timișoara<br>
            Country: Romania
        </td>
    </tr>
    <tr>
        <td>
            <strong>Internship during the NNDKP Summer School</strong><br>
            NNDKP, July 2022
        </td>
    </tr>
</table>

<table>
    <tr>
        <th>Skills</th>
    </tr>
    <tr>
        <td>COMMUNICATION AND INTERPERSONAL SKILLS - Member of the team for European Human Rights Moot Court Competition 2022</td>
    </tr>
    <tr>
        <td>MANAGEMENT AND LEADERSHIP SKILLS - Being an intern at the NNDKP Law Firm in July 2022</td>
    </tr>
</table>

</section>
</section>
<footer>
    <p>&copy; 2024 Iulia Gheju Blog. All rights reserved.</p>
</footer>
</section>
</section>


</body>
</html>