<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/contact.css">
    <link rel="stylesheet" type="text/css" href="../static/menu.css">
    <title>Contact</title>
    
</head>
<section class="float-section">
    <section class="container"> 
<body>
<h1>Contact Information</h1>
    <nav>
        <ul class="nav-menu">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'form' %}">Form</a></li>
            <li><a href="{% url 'gallery' %}">Gallery</a></li>
            <li><a href="{% url 'chatbot' %}">Chatbot</a></li>
          </ul>
    </nav>


<div class="contact-info">
    <p><strong>Name:</strong> Iulia Maria Gheju</p>
    <p><strong>Phone Number:</strong> 0775521397</p>
    <p><strong>Email:</strong> <a href="mailto:iulia.gheju00@e-uvt.ro">iulia.gheju00@e-uvt.ro</a></p>
</div>
<footer>
    <p>&copy; 2024 Iulia Gheju Blog. All rights reserved.</p>
</footer>
</body>
</section>
</section>
</html>